<% http_header("style/form.css", "/funcs.js", "/basic.js", "/streamboost.js", "/jquery-1.7.2.min.js") %>
<% body_header("_quality_service", "QOS_basic.htm", "apply_streamboost") %>
<div class="page_title">@home_net</div>
<div class="fix_button">
<TABLE width=100% border=0 cellpadding=0 cellspacing=2>
<TR>
	<TD nowrap colspan=2 align=center>
		<input class="cancel_bt" type='button' name='Cancel' value='@cancel_mark' onClick='qos_basic();'> &nbsp;&nbsp;
		<input class="apply_bt" type="submit" id="apply" name="apply" value="@apply_mark" onClick="return check_qos_apply(document.forms[0]);">
	</TD>
</TR>
</TABLE>
</div>
<style>
.checkbar {
        font-family:Arial; padding:0px; height: 15px; width: 190px; font-weight: bolder; font-size: 10pt; border: 1px solid; border-color: #09c; color: #0000FF}
#up_down_img { background-image:url(/image/ookla_speed.jpg);background-repeat:no-repeat; width:300px; height:40px; font-weight:bold; font-size:15px; font-family:arial; }
#downlink_speed { position:relative; color:#ffffff; z-indent:2; left:45px; top:10px;}
#uplink_speed { position:relative; color:#ffffff; z-indent:3; left:115px; top:10px;}
</style>

<div id="main" class="main_top_button">
<% table_header() %>

<script>
<% save_timestamp("apply_streamboost", "ookla_speedtest", "detect_update") %>
var ts='<% cfg_get("apply_streamboost") %>';

<% check_update() %>
var select_num=0;
var streamboost_enable="<% cfg_get("streamboost_enable") %>";
var detect_enable="<% cfg_get("auto_update") %>";
var improve_service="<% cfg_get("improve_streamboost") %>";
var uplink_value="<% cfg_get("uplimit") %>";
var downlink_value="<% cfg_get("downlimit") %>";
var uplink_detect="<% cfg_get("ookla_uplimit") %>";
var downlink_detect="<% cfg_get("ookla_downlimit") %>";
var bandwidth_type="<% cfg_get("bandwidth_type") %>";
var first_flag="<% cfg_get("first_flag") %>";
var netgear_region=top.netgear_region;
update_version=format_version(update_version);
var update_tag="<% cfg_get("update_tag") %>";
<% reset_update_tag() %>

var pchar = "|";
var internet_status="<% detwan_valid() %>";//check internet status for speedtest
var delay_time=2000;
var charcount=0;
var maxchars = 60;

function updateProgress()
{
	var cf = document.forms[0];
	if(charcount == 20)
                detect_speedtest_value();
	if (charcount < maxchars)
	{
		charcount++;
		cf.progress.value = makeStr(charcount,pchar);
		setTimeout("updateProgress()",delay_time);
	}
	else
	{
		alert("@fail_detect");
                 parent.ookla_speedtest_flag = 2;
                 if(first_flag == "1") {
                        cf.hid_streamboost_enable.value=0;
                        cf.hid_first_flag.value="0";
                        check_confirm(cf, "QOS_basic.htm", ts);
                 }else
                        this.location.href = "QOS_basic.htm";
	}
}
function detect_speedtest_value()
{
        $.ajax({
                url: "QOS_speedtest_result.htm",
                type: "GET",
                success: function(data, textStatus){
                        var down_up = data.split(";");
                        if(down_up[0] != "" && down_up[1] != ""){
                                fillValue(down_up[0], down_up[1]);
                                parent.speedtest_time_sum = 0;
                                parent.ookla_speedtest_flag = 2;
                                cf = document.forms[0];
                                if(first_flag == "1"){
                                        if(confirm("@confirm_msg") == false) {
                                                cf.hid_streamboost_enable.value=0;
                                                cf.hid_first_flag.value="0";
                                        } else {
						if(detect_enable == "1"){
							if(confirm("@share_mac_warn") == false)
								cf.detect_database.checked = false;
						}
                                                cf.hid_streamboost_enable.value=1;
                                                cf.hid_first_flag.value="2";
                                        }
                                        check_confirm(cf, "QOS_basic.htm", ts);
                                }else
                                        location.href="QOS_basic.htm";
                        }else{
                                setTimeout("detect_speedtest_value()",3000);
                        }
                }
        });

}
function makeStr(strSize, fillChar)
{
	var temp = "";
	for (i=0; i < strSize ; i ++)
		temp = temp + fillChar;
	return temp;
}

function fillValue(updata,downdata)
{
	var cf=document.forms[0];
	if(updata != "")
		cf.uplink_value.value = parseFloat(updata*8/1000000).toFixed(2);
	else
		cf.uplink_value.value = "";
	if(downdata != "")
		cf.downlink_value.value = parseFloat(downdata*8/1000000).toFixed(2);
	else
		cf.downlink_value.value = "";
}

function goto_attached()
{
	basic_menu_color_change('attached');
	location.href="QOS_device.htm";
}

function loadvalue()
{
        var cf=document.forms[0];
	if(streamboost_enable == "1") {
		cf.streamboostEnable.checked = true;
		document.getElementById("device_app_link").style.display = "";
		document.getElementById("manual_update").disabled = false;
		document.getElementById("manual_update").className="common_bt";
	} else {
		cf.streamboostEnable.checked = false;
		document.getElementById("device_app_link").style.display = "none";
		document.getElementById("manual_update").disabled = true;
		document.getElementById("manual_update").className="common_gray_bt";
	}

	if(detect_enable == "1")
		cf.detect_database.checked = true;
	else
		cf.detect_database.checked = false;

	if(improve_service == "1"||(improve_service == "" && netgear_region.toUpperCase() != "WW"))
		cf.help_improve.checked = true;
	else
		cf.help_improve.checked = false;

	fillValue(uplink_value, downlink_value);
	if(parent.ookla_speedtest_flag == 1 || first_flag == "1")
	{
		cf.apply.disabled=true;
		document.getElementById("apply").className="common_gray_bt";
		cf.sel_bandwidth[0].checked = true;
		document.getElementById("speedtest_bt").className="common_gray_bt";
		if(top.is_gr_version == 1)
                         document.getElementById("speedtest_bt").className = "common_key_gray_bt";
                cf.speedtest_bt.disabled = true;
		document.getElementById("speedtest_radio").style.display = "";
		document.getElementById("option1").style.display = "";
		document.getElementById("option2").style.display = "";
		document.getElementById("define_radio1").style.display = "none";
		document.getElementById("define_radio2").style.display = "none";

		//fillValue(uplink_value, downlink_value);
		document.getElementById("check_speed_progress").style.display = "";
		updateProgress();

	} else if(parent.ookla_speedtest_flag == 2) {
		parent.ookla_speedtest_flag = 0;
                cf.apply.disabled=false;
                document.getElementById("apply").className="apply_bt";
                cf.sel_bandwidth[0].checked = true;
                document.getElementById("speedtest_radio").style.display = "";
                document.getElementById("option1").style.display = "";
                document.getElementById("option2").style.display = "";
                document.getElementById("define_radio1").style.display = "none";
                document.getElementById("define_radio2").style.display = "none";
		
	} else {
		cf.apply.disabled=false;
		document.getElementById("apply").className="apply_bt";
		if(bandwidth_type == "0") {
			cf.sel_bandwidth[0].checked = true;
			document.getElementById("speedtest_radio").style.display = "";
			document.getElementById("option1").style.display = "";
			document.getElementById("option2").style.display = "";
			document.getElementById("define_radio1").style.display = "none";
			document.getElementById("define_radio2").style.display = "none";
		} else {
			cf.sel_bandwidth[1].checked = true;
			document.getElementById("speedtest_radio").style.display = "none";
			document.getElementById("option1").style.display = "none";
			document.getElementById("option2").style.display = "none";
			document.getElementById("define_radio1").style.display = "";
			document.getElementById("define_radio2").style.display = "";
		}
		//fillValue(uplink_value, downlink_value);
	}

	if(update_tag == "11")
		alert("@detect_old");
	else if(update_tag == "0")
		alert("@detect_new"+" "+update_version);
	else if(update_tag == "100")
		alert("@detect_fail");
}

</script>
<input type="hidden" name="hid_streamboost_enable">
<input type="hidden" name="hid_bandwidth_type">
<input type="hidden" name="hid_streamboost_uplink">
<input type="hidden" name="hid_streamboost_downlink">
<input type="hidden" name="hid_first_flag">
<input type="hidden" name="hid_detect_database">
<input type="hidden" name="hid_improve_service">
<TR>
	<TD width=40% colspan=4><input type="checkbox" name="streamboostEnable" value="0"><a tabindex=-1 href="javascript:loadhelp('_quality_service','enable_qos')"><b>@internet_qos</b></a></TD>
</TR>
<TR>
	<TD height=12px colspan=4>&nbsp;</TD>
</TR>
<TR>
	<TD width=40% colspan=4>@spacebar
	<b>@qos_message1</b></TD>
</TR>
<TR>
	<TD height=12px colspan=4>&nbsp;</TD>
</TR>
<TR>
	<TD width=40% colspan=4>@spacebar
	<b>@bandwidth_title</b></TD>
</TR>
<TR>
	<TD width=40% colspan=4>@spacebar&nbsp;@spacebar
	<input type="radio" name="sel_bandwidth" value="0" checked onClick="setSpeed(0)"><a tabindex=-1 href="javascript:loadhelp('_quality_service','ookla_detect')"><b>@detect_bandwidth</b></a></TD>
</TR>
<TR>
	<TD width=40% colspan=4>@spacebar&nbsp;@spacebar&nbsp;&nbsp;@bandwidth_warning</TD>
</TR>
<TR id="speedtest_radio">
	<TD width=8%>&nbsp;</TD>
	<TD width=40% id="option1">
		<TABLE width=100% border=0 cellpadding=0 cellspacing=2>
		<TR id="check_speed_result">
		<TD id="up_down_img">
		<script>
			if(uplink_detect == "" || downlink_detect == "")
				document.write("<span id=downlink_speed>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mbps</span><span id=uplink_speed>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mbps</span>");
			else
				document.write("<span id=downlink_speed>"+parseFloat(downlink_detect*8/1000000).toFixed(2)+" Mbps</span><span id=uplink_speed>"+parseFloat(uplink_detect*8/1000000).toFixed(2)+" Mbps</span>");
		</script></TD>
		</TR>
		</TABLE>
	</TD>
	<TD align=left id="option2" colspan="2">
		<TABLE width=100% border=0 cellpadding=0 cellspacing=2>
		<TR>
			<TD align="left" colspan="2">
				<input class="common_bt" id="speedtest_bt" type="submit" name="speedtest_bt" value="@speedtest" onClick="return check_basic_ookla_speedtest(document.forms[0])" />@spacebar&nbsp;@spacebar<img src="/image/poweredbyookla.png" id="ookla_img" width="80px" height="22px" />
		<script>
		if(top.is_gr_version == 1)
                        document.getElementById("speedtest_bt").className = "common_key_bt";
		</script>
			</TD>
		</TR>
		<TR id="check_speed_progress" style="display:none">
			<TD colspan=2 nowrap><b><font color="#9D98FF">@check_internet</font></b>@spacebar<input type="text" name="progress" class="checkbar" size="60"  value=""></TD>
		</TR>
		</TABLE>
	</TD>
</TR>
<TR>
	<TD width=40% colspan=4>@spacebar&nbsp;@spacebar
	<input type="radio" name="sel_bandwidth" value="1" onClick="setSpeed(1)"><a tabindex=-1 href="javascript:loadhelp('_quality_service','manual_define')"><b>@define_bandwidth</b></a></TD>
</TR>
<TR id="define_radio1" style="display:none;">
	<TD width=8%>&nbsp;</TD>
	<TD width=32%>
	<b>@downlink_width</b></TD>
	<TD colspan=2><input type="text" name="downlink_value" size="7" value="" onKeyPress="return getkey('colon_num',event)" onkeyup="clearNoNum(this)"></TD>
</TR>
<TR id="define_radio2" style="display:none;">
	<TD width=8%>&nbsp;</TD>
	<TD width=32%>
	<b>@uplink_width</b></TD>
	<TD colspan=2><input type="text" name="uplink_value" size="7" value="" onKeyPress="return getkey('colon_num',event)" onkeyup="clearNoNum(this)"></TD>
</TR>
<TR>
	<TD height=12px colspan=4>&nbsp;</TD>
</TR>
<TR>
	<TD height=12px colspan=4>@spacebar<a tabindex=-1 href="javascript:loadhelp('_quality_service','performance')"><b>@detect_optimiz</b></a><br></TD>
</TR>
<TR>
	<TD width=40% colspan=4>@spacebar
	<input type="checkbox" name="detect_database" value="0" />&nbsp;&nbsp;<a tabindex=-1 href="javascript:loadhelp('_quality_service','auto_update')"><b>@detect_database</b></a>
	@spacebar<input class="common_gray_bt" name="manual_update" type="submit" id="manual_update" value="@manual_update" disabled onClick="return check_basic_manual_update(document.forms[0])"  />
	</TD>
</TR>
<TR>
	<TD width=40% colspan=4>@spacebar&nbsp;@spacebar&nbsp;&nbsp;@detect_info</TD>
</TR>
<TR>
	<TD width=40% colspan=4>@spacebar&nbsp;@spacebar&nbsp;@spacebar&nbsp;
	@detect_version <script>document.write("v" + update_version);</script></TD>
</TR>
<TR>
	<TD width=40% colspan=4>@spacebar&nbsp;@spacebar&nbsp;@spacebar&nbsp;
	@detect_date <script>document.write(format_time(update_time));</script><br></TD>
</TR>
<TR>
	<TD width=40% colspan=4>@spacebar
	<input type="checkbox" name="help_improve" value="0" onClick="" />&nbsp;&nbsp;<a tabindex=-1 href="javascript:loadhelp('_quality_service','improve_service')"><b>@detect_improve</b></a>
	</TD>
</TR>
<TR>
        <TD height=12px colspan=4>&nbsp;</TD>
</TR>
<TR id="analytic_link" >
        <TD width=40% colspan=4>@spacebar<a class="linktype" href="#" onclick="return confirm_dialox();"><b>@analytic_link</b></a></TD>
</TR>
<TR>
	<TD height=12px colspan=4>&nbsp;</TD>
</TR>
<TR id="device_app_link" style="display:none;">
	<TD width=40% colspan=4>@spacebar<a class="linktype" href="#" onclick="goto_attached(); return false;"><b>@device_app_link</b></a></TD>
</TR>
</TABLE>
</div>
<% help_box("0","_quality_service") %>
</FORM>
</BODY>
</HTML>
