Package: qca-hostapd-cli
Version: 10.2.2.39.1-1
Depends: libc, qca-hostap
Provides: 
Source: package/qca-hostap
Section: QCA
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: Qualcomm Atheros
Architecture: ipq806x
Installed-Size: 13260
Description:  This package contains a command line utility to control the
 IEEE 802.1x/WPA/EAP/RADIUS Authenticator.
