<% http_header("style/form.css", "/funcs.js") %>
<% body_header("", "LED_control_setting.htm", "LED_setting") %>
<div class="page_title">$led_head</div>
<script>
var led_option = <% cfg_get("led_blinking_setting")%>;
function loadvalue()
{
	var cf = document.forms[0];
	if(led_option == '0')
		cf.LEDcontrol[0].checked = true;
	else if(led_option == '1')
		cf.LEDcontrol[1].checked = true;
	else
		cf.LEDcontrol[2].checked = true;
}

function checkLED(cf)
{
	return true;
}
</script>
<div class="fix_button">
<TABLE width=100% border=0 cellpadding=0 cellspacing=2>
<TR>
        <TD nowrap colspan=2 align=center>
        <input class='cancel_bt' type='button' name="Cancel" value='$cancel_mark' onClick='location.href="LED_control_setting.htm";'>&nbsp;&nbsp;
        <input class="apply_bt" type="submit" name="Apply" value="$apply_mark" onClick="return checkLED(document.forms[0]);">
        </TD>
</TR>
</TABLE>

</div>
<div id="main" class="main_top_button">
<TABLE cellspacing=5 cellPadding=0 width=100% border=0>
<TR>
        <TD nowrap>
        <input onclick='' type="radio" name="LEDcontrol" value="0">$led_en_blinking
        </TD>
</TR>
<TR>
        <TD nowrap>
        <input onclick='' type="radio" name="LEDcontrol" value="1" >$led_dis_blinking
        </TD>
</TR>
<TR>
        <TD nowrap>
        <input onclick='' type="radio" name="LEDcontrol" value="2" >$led_turn_off
        </TD>
</TR>
</table>
</div>
<% help_box("0","_led") %>
</FORM>
</BODY>
</HTML>

